# =========================================================
# FRONTEND
# =========================================================

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env
frontend/.env.*
!frontend/.env.example

# Frontend logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# =========================================================
# .NET / BACKEND
# =========================================================
# Private backend configuration
/appsettings.Development.json
/appsettings.Local.json
**/appsettings.Production.json

# Private backend configuration
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.Production.json



**/bin/
**/obj/

# .NET user files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# =========================================================
# ENVIRONMENT / SECRETS
# =========================================================

.env
.env.*
!.env.example

# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# VS CODE
# =========================================================

.vscode/*
!.vscode/extensions.json

# =========================================================
# LOGS
# =========================================================

*.log

# =========================================================
# TEMPORARY FILES
# =========================================================

*.tmp
*.temp
*.bak